/*#region reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /*#endregion*/

#ball-container {
  height:600px;
  width:600px;
  background-color: green;
  margin-left: 400px;
}

  #bouncy-ball {
      width:200px;
      height:200px;
      position:relative;
      background-color: red;
      margin-left: 40%;
      border:2px solid black;
      border-radius: 50%;
      animation-name: bounce;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      top:400px;
  }

  #button {
    height:60px;
    width:90px;
    background-color: blue;
  }

  @keyframes bounce { 
      0% {
        top: 400px;
      }
      25% {
        top:0;
      }
      50% {
        top: 400px;
      }
      75% {
        top:0;}

    100% {
      top: 400px;
    }
      }
  .bouncy-ball-on-off {
    animation-duration: 2.5s;
    background-color: blue;
  }
     
  